* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  
}

.gallery::after {
  content: "";
  width: 350px;
}

p.caption {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0 0 10px 10px;
  display: block;
  margin: 0;
  text-align: center;
  margin-top: -15%;
  transition: all 0.5s ease-in-out;

  
} 
.container img:hover + .caption {
 
  scale: -100%;
  rotate: 180deg;
  padding: 35%;
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
  transform: translateX(16%);
  margin-bottom: -150%;
  font-size: 40px;
  border-radius: 40%;
  width: 220%;
  /* added this change if issues */
  height: 220%;
  margin-top: -100%;

  
}




