* {
    box-sizing: border-box;
    font-size: large;

}

nav ul {
    background: #000;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 0.2em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    text-decoration: none;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    transition: calc(1s / 3);


}

ul a:hover {
    background: #000;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    display: flex;
    margin: 0 auto 0 auto;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    text-decoration: none;
    transition: ca            <h2 class="orange">Crypto</h2>
    lc(1s / 3);

}

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 300;
    padding: 0;
    margin: 3% auto 0 auto;
    text-align: center;
    text-decoration: none;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    transition: calc(1s / 3);
    
}

/* ADDED THIS TO SEE IF IT WOULD WORK*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    overflow: hidden;

}
.heart{
    position: fixed;
    top: 0;
    font-size: 1.5rem;
    animation: fall 3s linear forwards;
}
@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}

.card{
    position: relative;
    width: auto;
    background: fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    justify-items: center;
    justify-content: space-between;
    line-height: .6em;
    padding: .6rem;
    margin: .6rem;
    
} 
    
.card:hover{
    transform: scale(1.1);
}
.card:hover .container{
    transform: scale(1.5);
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 0;
    justify-content: space-between;
    line-height: 1em;
    padding: 0;
}

.green{
    color: #00ff00;
}

.orange{
    color: #df600c;
}
.blue{
    color: #0000ff;
}

footer {
    background-color: #743104;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
    bottom: 0%;
    

}