*, *::before, *::after {
    box-sizing: border-box;
    font-size: large;

}

nav ul {
    background: #000;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
    padding: 0.2em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    text-decoration: none;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    transition: calc(1s / 3);


}

ul a:hover {
    background: #0000003d;
    color: aqua;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    display: flex;
    margin: 0 auto 0 auto;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    text-decoration: none;
    transition: calc(1s / 3);

}

body {
    font-family: 'Roboto', sans-serif;
    background: #00000042;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
    padding: 0;
    margin: 3% auto 0 auto;
    text-align: center;
    text-decoration: none;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    transition: calc(1s / 3);
    background: fixed url(https://www.quoteinspector.com/media/money/money-qi29-wo.jpg) no-repeat center center;
    background-size: cover;
    
}
a {
    color: #fff;
    text-decoration: none;
    text-shadow: rgb(5, 185, 240) 0 1px 0;
    transition: calc(1s / 3);
}
/* ADDED THIS TO SEE IF IT WOULD WORK*/

body{
    display: flex;
    flex-direction: column;

}
.heart{
    position: fixed;
    top: 0;
    font-size: 1.5rem;
    animation: fall 3s linear forwards;
}
@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}

.card {
    position: relative;
    width: auto;
    background: #0000003d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    justify-items: center;
    justify-content: space-between;
    line-height: 1em;
    padding: .2rem;
    margin: .5rem;
    
    
} 
    
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: aqua;
}
.card:hover .container{
    transform: scale(1.5);
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 0;
    justify-content: space-between;
    line-height: .4em;
    overflow: flex;


}

.green{
    color: #00ff00;
}

.orange{
    color: #df600c;
}
.blue{
    color: #0000ff;
}

footer {
    display: fixed;
    justify-content: center;
    background-color: #940e04;
    color: #fff;
    font-size: 1em;
    bottom: 0;
    margin: 100px auto 0 auto;
}


